# Python files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment files
.env

# Virtual environment
.venv/
venv/
venv.bak/
ENV/
env/
instance/

# Logs
*.log

# IDE / Editors
.vscode/
.idea/

# Database files (if any local temp backups)
*.db
*.sqlite
